footer {
    .footer-top-wrapper {
        height: 300px;
        background-image: url('../img/footer-bg.jpg');
        .container{
            height: 100%;
            .footer-top {
                height: 100%;
                background-image: url('../img/dc-logo-bg.png');
                background-position: right;
                background-repeat: no-repeat;
                
            }
        }
    }
    .footer-bottom {
        background-color: $tertiary;
        .container {
            button {
                border: 1px solid $primary;
                background-color: transparent;
                color: #fff;
                padding: 5px 10px;
                font-family: inherit;
                &:hover {
                    color: darken($color: #fff, $amount: 20%);
                }
            }
            ul {
                h5 {
                    color: $primary;
                    font-weight: 600;
                    font-family: inherit;
                }
            }
        }
    }
}