main {
    background-color: $secondary;
    color: #fff;

    button {
        background-color: $primary;
        &:hover {
            background-color: darken($color: $primary, $amount: 10%);
        }
    }

    .comic-card {
        background-color: transparent;
        a {
            .img-card {
                width: 100%;
                aspect-ratio: 1/1.5;
            }
            color: #fff;
            &:hover {
                color: $primary;
            }
        }
    }
    
}

main.main-info {
    background-color: #fff;
    color: $tertiary;
    .thumb {
        height: 50px;
        background-color: $primary;
        .wrapper {
            bottom: 200px;
        }
    }
    .container {
        .price-box {
            background-color: $quaternary;
        }
    }
    .detail-info {
        background-color: $quinary;
    }
}